elasticsearchVersion = 6.3.0

// systemProp.http.proxyHost=xxxxxxxxxx.xxxx.xxx
// systemProp.http.proxyPort=3128
// systemProp.http.nonProxyHosts=*.xxxxx.xx|localhost|[::1]
// systemProp.https.proxyHost=xxxxxxxxxx.xxxx.xxx
// systemProp.https.proxyPort=3128
// systemProp.https.nonProxyHosts=*.xxxxx.xx|localhost|[::1]
